<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- tailwind cdn -->
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <title>Summerizer.Ai</title>
    </head>
    <body>
        <!-- padded container including top and below -->
        <div class="container mx-auto px-4 py-2">
            <!-- text area inside padded div for the text to be summerized -->
            <div class="p-5 bg-gray-200 rounded-lg">
                <textarea
                    class="w-full"
                    name="text"
                    id="text"
                    cols="30"
                    rows="10"
                    placeholder="Enter your text here"
                ></textarea>
            </div>
            <!-- number of lines between 1 and 10-->
            <div class="p-2 flex justify-center">
                <input
                    type="number"
                    min="1"
                    max="10"
                    class="w-1/6"
                    id="lines"
                    name="n"
                    placeholder="Number of lines"
                />
            </div>
            <!-- choose what summerizer to use as a dropwdown  -->
            <div class="p-2 flex justify-center">
                <select
                    name="summerizer"
                    id="summerizer"
                    class="w-1/6 p-2 rounded-lg"
                >

                    <option value="nltk">NLTK</option>
                    <option value="spacy">Spacy</option>
                </select>
            </div>
            <!-- button to submit the text -->
            <div class="p-5 flex justify-center">
                <button class="bg-blue-500 p-2 rounded text-white" id="submit">
                    Submit
                </button>
            </div>
        <!-- response textarea for summerized text -->
            <div class="p-5 bg-gray-200 rounded-lg">
                <textarea
                    class="w-full"
                    name=""
                    id="summary"
                    cols="30"
                    rows="10"
                    placeholder="Summerized text will appear here"
                ></textarea>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            const text = document.getElementById("text");
            const n = document.getElementById("lines");
            const summary = document.getElementById("summary");
            const submit = document.getElementById("submit");
            const summerizer = document.getElementById("summerizer");

            // get text and n as a form data
            const getFormData = () => {
                const formData = new FormData();
                formData.append("text", text.value);
                formData.append("n", n.value);
                formData.append("summerizer", summerizer.value);
                return formData;
            };

            // if summerizer is spacy then send the request to spacy api else send to nltk api
            submit.addEventListener("click", () => {
                if (summerizer.value === "nltk") {
                    $.ajax({
                        url: "/nltk",
                        type: "POST",
                        data: getFormData(),
                        processData: false,
                        contentType: false,
                        success: (data) => {
                            summary.value = data;
                        },
                    });
                } else {
                    $.ajax({
                        url: "/spacy",
                        type: "POST",
                        data: getFormData(),
                        processData: false,
                        contentType: false,
                        success: (data) => {
                            summary.value = data;
                        },
                    });
                }
            });
        </script>
    </body>
</html>
